<ion-header>
  <ion-navbar>
    <ion-title>Registar Jornada</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="workday">
          <ion-segment-button value="regular">
            Jornada
          </ion-segment-button>
          <ion-segment-button *ngIf="!hasCheckedStartHour" value="holiday">
            Día Feriado
          </ion-segment-button>
          <ion-segment-button *ngIf="!hasCheckedStartHour" value="absent">
            Inasistencia
          </ion-segment-button>
        </ion-segment>
      </div>  
    <div [ngSwitch]="workday">
        <ion-list *ngSwitchCase="'regular'">
              <ion-item>
                  <ion-label>Registar hora de entrada</ion-label>
                  <ion-toggle [disabled]="hasCheckedStartHour" [(ngModel)]="hasCheckedStartHour" (ionChange)="checkStartHour()"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label *ngIf="hasCheckedStartHour; else showRule">
                  <ion-icon name="ios-alarm-outline"></ion-icon>  {{  startHour | date:'hh:mm'}}
                </ion-label>
                <ng-template #showRule>
                    <ion-icon name="ios-information-circle-outline"></ion-icon>   La hora de entrada es a las 8:00 AM
                </ng-template>
              </ion-item>
              <ion-item>
                  <ion-label>Hora de salida</ion-label>
                  <ion-toggle [disabled]="hasCheckedEndHour" [(ngModel)]="hasCheckedEndHour" (ionChange)="checkEndHour()"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-label *ngIf="hasCheckedEndHour; else showEndHour">
                    <ion-icon name="ios-alarm-outline"></ion-icon>  {{  endHour | date:'hh:mm' }}
                  </ion-label>
                  <ng-template #showEndHour>
                      <ion-icon name="ios-information-circle-outline"></ion-icon> 
                      La hora de entrada es a las 8:00 AM
                  </ng-template>
                </ion-label>
              </ion-item>  
        </ion-list>
        <ion-list *ngSwitchCase="'holiday'">
                <p> <strong> Días feriados </strong></p>
                <p>Selecciona un día feriado en el año laboral de esta sucursal</p>
        </ion-list>
        <ion-list *ngSwitchCase="'absent'">
                <p>Quiero registrar una ausencia</p>
        </ion-list>
      </div>
          
</ion-content>
